<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Profile</h1>
  <h3> Name: </h3>
  <h3> Email: </h3>
  <h3> Teams: </h3>
</main>

<%- include("../partials/footer")  %> 