</head>
<body>
  <header> 
    <h1>
      <a href="/">Rec Team Manager</a> 
    </h1>
    <div>
      <% if (user) { %>
        <a href="/auth/logout">
          <button class="btn btn-warning">Logout</button>
        </a>
      <% } else { %>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="<%= googleLoginURL %>"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
          id="google-sign-on"
        ></div>
      <% } %>
    </div>
  </header>
  <nav>
    <a href="/leagues">
      League
    </a>
    <a href="/games">
      Games
    </a>
    <a href="/teams">
      Teams
    </a>
    <% if (user) { %>
      <div id="profile-nav">
        <a href="/profile">
          My Profile
        </a>
        <a href="/announcements">
          <img src="/assets/noti-bell.png" alt="Notification Bell" id="noti-bell">
        </a>
      </div>
    <% } %>
  </nav>