</head>
<body>
  <header> Rec Team Manager </header>
  <nav>
    <a href="/league">
      League
    </a>
    <a href="/games">
      Schedule
    </a>
    <a href="/team">
      Team
    </a>
    <a href="/profile">
      Profile
    </a>
  </nav>