</head>
<body>
  <header> 
    <a href="/">Rec Team Manager</a> 
    <div class="text-end d-flex align-items-center">
      <% if (user) { %>
        <a href="/auth/logout">
          <button class="btn btn-warning">Logout</button>
        </a>
      <% } else { %>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="<%= googleLoginURL %>"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      <% } %>
    </div>
  </header>
  <nav>
    <a href="/league">
      League
    </a>
    <a href="/games">
      Schedule
    </a>
    <a href="/teams">
      Teams
    </a>
    <a href="/profile">
      My Profile
    </a>
  </nav>