<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Teams </h1>
  <% teams.forEach(team => { %>
    <h2> <%= team.name %> </h2>
    <h4> Roster </h4>
    <h4> Team Schedule </h4>
  <% }) %>
</main>

<%- include("../partials/footer")  %> 