<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center w-50" style="min-width:380px;">
    <div class="card-body">
      <h1>Add a New Team</h1>
      <form action="/teams" method="post">
        <label>
          Team Name
          <input type="text" name="name">
        </label>
        <br>
        <br>
        <button class="btn btn-dark" type="submit"> Create Team </button>
      </form>
    </div>
  </div>


</main>

<%- include("../partials/footer")  %> 