<%- include("./partials/html-head")  %> 
<%- include("./partials/nav")  %> 
<main>
<div id="about-me">
  <h1>About this Project</h1>
  <p>This project was create to help manage my Co-Ed indoor soccer team, the Morgan Express</p>
  <p> The Morgan Express was started by my father, Charles Morgan, in 2012 at the local indoor facility Grantham Indoor.  They played together for over 5 years and I have fond memories as a child going to watch them play.  Unfortnuately in 2018, Grantham Indoor closed it's door and left the team nowhere closeby to play... </p>
  <p> Fastforward to the start of 2019, I started a new Morgan Express team down at the Teamworks in Northboro, MA.  Even through the team had different people, we still all had that same love of the game.  I met so many incredible people and had an abundance of memories together with them all.  It was truly and honor to be part of such a special team.  </p>
  <p>I captained that team in Northboro until 2022, when I left the Massachusetts area to pursue a career in Software Engineering.</p>
  <p>This app is for all you who played on the pitch with me ❤️</p>
</div>
</main>

<%- include("./partials/footer")  %> 