<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Team View</h1>
  <h3> Roster </h3>
  <h3> Team Schedule </h3>
</main>

<%- include("../partials/footer")  %> 