html {
  box-sizing: border-box
}

body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A0DDFF;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%237189ff' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin:0;
  display: grid;
  grid-template-rows: 50px 50px 1fr 30px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header{
  grid-area: "header";
  background-color: #7189FF;
  color:white;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div{
  font-size: x-large;
  font-weight: bold;
}

header a{
  color:white;
  text-align: left;
}

header a:hover {
  color:lightgray;
}

nav {
  grid-area: nav;
  background-color: #7189FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a{
  color:white;
}

nav a:hover {
  color:lightgray;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a > .card:hover{
  background-color: rgb(228, 227, 227);
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  font-weight: bold;
}

table{
  width: 100%;
}

table, th, td{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
}

th{
  background-color: #7189FF;
  color: white;
  border-color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  grid-area: "footer";
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width:100%;
}

.btn-dark{
  background-color: #7189FF;
  border-color: #7189FF;
}

.div-table{
  display: table;
  width: 100%;
  border: 1px solid;
}

.div-thead{
  display: table-header-group;
  background-color: #7189FF;
  color: white;
  font-weight: bold;
  }

.div-th{
  display: table-cell;
  text-align: center;
  border: 1px solid black;
}

.div-tbody{
  display: table-row-group;
}

.div-row{
  display: table-row;
}

.div-row:nth-child(even) {
  background-color: #f2f2f2;
}

.div-row:hover{
  background-color: coral;
}

.div-td{
  display: table-cell;
  border: 1px solid black;
}

.card-link{
  width:100%;
}

.table-anchor{
  display:table-row;
  flex-direction: column;
  align-items: center;
}

#profile-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

#noti-bell{
  width: 25px;
}


@media screen and (min-width:780px) {
  header > div{
    font-size: xx-large;
  }
}