html {
  box-sizing: border-box
}

body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A0DDFF;
  margin:0;
  display: grid;
  grid-template-rows: 60px 50px 1fr 30px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

header{
  grid-area: "header";
  background-color: #7189FF;
  color:white;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: xx-large;
}

header a{
  color:white;
}

header a:hover {
  color:lightgray;
}

nav {
  grid-area: nav;
  background-color: #7189FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a{
  color:white;
}

nav a:hover {
  color:lightgray;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a > .card:hover{
  background-color: rgb(228, 227, 227);
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-table{
  display: table;
  width: 100%;
  border: 1px solid;
}

.div-thead{
  display: table-header-group;
  background-color: #7189FF;
  color: white;
  font-weight: bold;
  }

.div-th{
  display: table-cell;
  text-align: center;
  border: 1px solid black;
}

.div-tbody{
  display: table-row-group;
}

.div-row{
  display: table-row;
}

.div-row:nth-child(even) {
  background-color: #f2f2f2;
}

.div-row:hover{
  background-color: coral;
}

.div-td{
  display: table-cell;
  border: 1px solid black;
  /* border-color: black; */
}

.table-anchor{

  /* width:100%; */
  /* display:flex; */
  display:table-row;
  flex-direction: column;
  align-items: center;
}

table, th, td{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-collapse: collapse;
  width: 400px;
  text-align: center;
}

th{
  background-color: #7189FF;
  color: white;
  border-color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer{
  grid-area: "footer";
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width:50vh;
}

#about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vh
}

#profile-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

#noti-bell{
  width: 25px;
}