<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <form action="/leagues" method="post">
    <label>
      League Name
      <input type="text" name="name">
    </label>
    <button> Create League </button>
  </form>
</main>

<%- include("../partials/footer")  %> 